:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

#app {
	height: 400px;
}

.container {
	height: 400px;
}

.row {
	height: 100%;
}

.btn {
	width: 60px;
	height: 40px;
	padding: 5px;
	margin: 10px;
	font-size: 1rem;
	font-weight: 600;
	color: #f9f9f9;
	border-radius: 0.6vh;
	background-color: #b7a185;
}
.btn:hover {
	color: #b7a185;
	background-color: #b4b4b4;
}
.btn:active {
	border: solid 1px #b7a185;
}

.view {
	position: relative;
}
.view div {
	position: absolute;
}

.info {
	text-align: center;
}
.full-width {
	width: 100%;
}

.deplete-animation {
	animation: deplete 1s linear forwards;
}
.expand-animation {
	animation: deplete 1s linear reverse forwards;
}

@keyframes deplete {
	0% {
		width: 100%;
		opacity: 1;
	}
	100% {
		width: 0%;
		opacity: 0;
	}
}
